---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: elasticsearch-pvc
  namespace: "{{ efk_namespace }}"
  labels:
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: "{{ efk_storage_class }}"
  resources:
    requests:
      storage: "{{ efk_disk_size }}"
